*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #white;
}

h2{
    text-align: center;
    color: rgb(105, 3, 105);
    padding: 80px 0 40px;
    font-family: sans-serif;
    font-size: 42px;
    font-weight: 700;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container{
    padding-top: 60px;
}
a{
    text-decoration: none;
    color: black;
}
.slick-slide{
    margin: 0px 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{
    outline: none;
}
.slick-list.dragging{
    cursor: pointer;
    cursor: hand;

}
.slick-slider .slick-track,
.slick-slider .slick-list{
    transform: translate(0, 0);
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;

}
.slick-track::before,
.slick-track::after{
    display: table;
    content: " ";
}
.slick-track::after{
    clear: both;
}

.slick-loading .slick-track{
    visibility: hidden;
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide{
    float: right;
}

.slick-slide img{
    display: block;
}
.slick-slide.slick-loading img{
    display: none;
}
.slick-list.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.partners-logos .slide{
    border: 1px solid gray;
}
.partners-logos .slide:hover{
    border-color: purple;
}


/* ================================================ Start section two ================================================ */


.sectionTwo {
    margin: 50px auto;
    width: 80%
}

.sectionTwo .title h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.sectionTwo .catagoryBlocks {
    display: flex;
}

.sectionTwo .catagoryBlocks .block {
    margin: 0 15px 20px;
    padding: 25px;
    border: 0.5px solid grey;
    text-align: center;
}

.sectionTwo .catagoryBlocks .block .blockImg {
    width: 200px;
    height: 200px;
    margin: auto;
}

.sectionTwo .catagoryBlocks .block .blockImg img {
    max-width: 100%;
    max-height: 100%;
}

.sectionTwo .catagoryBlocks .block:hover {
    border: 0.5px solid yellow;
    cursor: pointer;
}

.sectionTwo .catagoryBlocks .block a {
    margin: 0 15px;
}

.sectionTwo .catagoryBlocks .block:hover a {
    color: aqua;
}


/* ================================================ End section two ================================================ */


/* ================================================ Start section three ================================================ */


.sectionThree {
    margin: 50px auto;
    width: 80%
}

.sectionThree .navbar {
    background-color: rgb(224, 224, 224);
}

.sectionThree .navbar .navLinks ul {
    margin-left: auto;
}

.sectionThree .navbar .navLinks a {
    margin: 0 10px;
}

.sectionThree .newArrivals {
    display: flex;
    margin: 50px 0;
}

.sectionThree .newArrivals .ratingBlock {
    display: flex;
}

.sectionThree .newArrivals .ratingBlock .blockImg {
    width: 150px;
    height: auto;
}

.sectionThree .newArrivals .ratingBlock .blockImg img {
    max-width: 100%;
    max-height: 100%;
}

.sectionThree .newArrivals .ratingBlock .blockInfo {
    padding: 5px;
}

.sectionThree .newArrivals .ratingBlock .blockInfo a {
    color: aqua;
}

.sectionThree .newArrivals .ratingBlock .blockInfo a:hover {
    color: orange;
    cursor: pointer;
}

.sectionThree .newArrivals .ratingBlock .blockInfo .rating .checked {
    color: orange;
    font-size: 15px;
}

/* ================================================ End section three ================================================ */


.single-footer ul a{
    transition: padding-left .5s; 
}
.single-footer ul a:hover{
    padding-left: 5px;
    color: purple;
    font-weight: 700;
    
}
.single-footer h4{
    position: relative;
    margin-bottom: 14px;
    padding-bottom: 5px
}
.single-footer h4::before{
    content: " ";
    background-color: rgb(175, 174, 174);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45px;
    height: 2px;

}
.single-footer ul li {
    font-size: 14px;
}
.single-footer ul li i{
    font-size: small;
}
footer .copyright{
    background-color: #f5f2f2;
    margin: 0;
    padding: 0;
}
.copyright .container{
    padding-top: 15px;
    padding-bottom: 15px;
    
}